:root{
    --cor-fundo: #237fcf;
    --cor-principal:#0B0D20 ;
    --cor-secundaria: #494d72;
    --cor-destaque: #c1a1d3;
    --cor-texto: #D7F9FF;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
}